VITE_USERS_API_URL=http://<ALB-DNS>/api
VITE_BOOKS_API_URL=http://<ALB-DNS>/api
VITE_SOLICITUDES_API_URL=http://<ALB-DNS>/api
VITE_ORCHESTRATOR_API_URL=http://<ALB-DNS>/api
VITE_MS5_URL=http://<ALB-DNS>/api
VITE_TRANSACTIONS_API_URL=http://<ALB-DNS>/api
